.poster {
  z-index: 2;
  > img {
    width: 100%;
  }
}

.details {
  @media screen and (min-width: 600px) {
    height: 200px;
    padding-left: 20px;
  }
  @media screen and (max-width: 599px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.titles {
  @media screen and (min-width: 600px) {
    border-radius: 5px;
    background: #0003;
    padding: 16px 16px 16px 32px;
    margin: 0 0 0 -32px;
    height: 60px;
  }
  z-index: 1;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 12px;
  opacity: 0.6;
}

.description {
  margin-top: 20px;
  overflow-x: clip;
  font-size: 12px;
  border-radius: 5px;
  text-align: justify;
  @media screen and (min-width: 600px) {
    height: 120px;
  }
}

.more-description-icon {
  cursor: pointer;
}

.chips {
  margin: 16px 0 0 0;
  min-height: 32px;
}

.left-pill {
  background: #0006;
  padding: 6px 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.rounded {
  border-radius: 5px;
}

.side-icon {
  vertical-align: middle;
  margin-right: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}
