select {
  background: #fff2;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 0 8px;
  height: 32px;
}

option {
  color: initial;
}

.app-name {
  font-family: "Major Mono Display";
}

.spacer {
  flex: 1 1 auto;
}

.logo-icon {
  margin-right: 10px;
}
