/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

html,
body {
  height: 100%;
  background: linear-gradient(
    320deg,
    #0d2b2e 0%,
    rgb(9, 87, 88) 60%,
    rgb(30, 168, 127) 100%
  );
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1b4f54;
}

.mat-toolbar {
  background-color: #000a;
}

.mat-card {
  background-color: #0006;
}
